<div class="box-body" issues-kanban>
<div id="contributions-calendar">
<div class="contrib-details grid lala">

<div class="col" id="0-Backlog">
<span class="num hide-buttons">Backlog
      <a class="remove-lane" type="button" data="0-Backlog" href="#">
          <span class="octicon octicon-remove-close close"></span>
      </a>
    </span>
		<span class="lbl">

			<div ng-repeat="issue in issuectrl.groupedIssues['0-BackLog']" class="blankslate hide-buttons" draggable="true" id="66" data-label="0-Backlog">
                <a href="https://github.com/jcouyang/gira/issues/66" target="_blank"
                   class="octicon octicon-link-external link-external right"></a>
                <a href="#/jcouyang/gira/issues/{{issue.number}}" rel="facebox" class="popable" data-issue-id="{{issue.number}}">

					<span style="margin-right: 5px;" class="assignee tooltipped downwards yours right"
                          href="{{issue.user.html_url}}" original-title="Assigned to {{issue.user.login}}">
                        <img src="{{issue.user.avatar_url}}" alt="jcouyang" height="16"
                             width="16">
					</span>

                    <h4 class="list-group-item-name">#{{issue.number}} {{issue.title}}</h4>
                </a>

					<span ng-repeat="label in issue.labels" class="labels" style="background-color: {{issue.label.color}}">
                        {{label.name}}
					</span>

            </div>

		</span>
</div>

<div class="col" ng-repeat="label in issuectrl.labels">
    <span class="num hide-buttons">{{label.name}}
      <a class="remove-lane" type="button" href="#">
          <span class="octicon octicon-remove-close close"></span>
      </a>
    </span>
		<span class="lbl">

		<div ng-repeat="issue in issuectrl.groupedIssues[label.name]" class="blankslate hide-buttons" draggable="true" id="66" data-label="0-Backlog">
                <a href="https://github.com/jcouyang/gira/issues/66" target="_blank"
                   class="octicon octicon-link-external link-external right"></a>
                <a href="#/jcouyang/gira/issues/{{issue.number}}" rel="facebox" class="popable" data-issue-id="{{issue.number}}">

          <span style="margin-right: 5px;" class="assignee tooltipped downwards yours right"
                          href="{{issue.user.html_url}}" original-title="Assigned to {{issue.user.login}}">
                        <img src="{{issue.user.avatar_url}}" alt="jcouyang" height="16"
                             width="16">
          </span>

                    <h4 class="list-group-item-name">#{{issue.number}} {{issue.title}}</h4>
                </a>

          <span ng-repeat="label in issue.labels" class="labels" style="background-color: {{issue.label.color}}">
                        {{label.name}}
          </span>

      </div>

		</span>
</div>

</div>

</div>
</div>