language: node_js
before_install:
- phantomjs --version
branches:
  only:
  - master
node_js:
- '0.10'
before_script:
- git config --global user.name "Jichao Ouyang"
- git config --global user.email "oyanglulu@gmail.com"
- export REPO_URL="https://$GH_TOKEN@github.com/$GH_REPO.git"
- export GIRA_URL="https://$GH_TOKEN@github.com/getgira/getgira.github.com.git"
script:
- npm test
- git add javascripts
- git rm -rf src
- git remote add pages $REPO_URL
- git remote add gira $GIRA_URL
- git commit -m "publi:ship:"
- git checkout -B master
- git push gira master -f -q
- git checkout -B gh-pages
- git push pages gh-pages -f -q
env:
  global:
  - GH_REPO="jcouyang/gira"
  - secure: WRZimgS1liUgow3E/z4RzALQeZo15i9DVYTju0R70DIQkbyitkjcG3MPAJVgjzn2Am8U4WjAtep3A6LiLdOYYPjQxfizgCFEKHpHegjK2b78qmPaUozoIU+SNJtI6wfyvvqyQG21PjGgOlpY5Z/7hOTsUvJc0zY+7FR5aTXGMM0=
