<form method="post"  id="new_issue" class="js-new-issue-form" onsubmit="return gira.createIssue()()" accept-charset="UTF-8" data-issue-id="{{number}}"><div style="margin:0;padding:0;display:inline"></div>
  <div class="columns discussion-timeline-cols">
    <div class="column main">
			<div class="discussion-bubble composer">
				<a href="https://github.com/{{user.login}}"><img width="48" height="48" src="{{user.avatar_url}}" class="discussion-bubble-avatar" alt="{{user.full_name}}"></a>

				<div class="discussion-bubble-content bubble">
					<div class="discussion-bubble-inner">

						<div class="discussion-topic">
							

							<div class="discussion-topic-header">
								<dl class="form">
									<div class="fieldWithErrors"><label for="issue_title" class="discussion-title-label">Title</label></div>
									<dd><div class="fieldWithErrors"><input type="text" tabindex="1" size="30" required="required" placeholder="Title" name="issue[title]" id="issue_title" class="required title js-auto-save" autofocus="autofocus" value="{{title}}"></div></dd>
								</dl>
							</div> <!-- /.topic-comment-header -->

							
							<div class="composer-infobar js-infobar">

								<div class="assignee infobar-widget">
									<span class="css-truncate text js-assignee-infobar-item-wrapper">
										{% if assignee %}
										{{assignee.login}} 
										{% else %}
										No one
										{% endif%}
										is assigned
									</span>


									<div class="select-menu js-menu-container js-select-menu js-composer-assignee-picker ">
										<span aria-label="Assign someone to this issue" role="button" class="minibutton select-menu-button icon-only js-menu-target">
											<span class="octicon octicon-gear"></span>
										</span>

										<div class="select-menu-modal-holder js-menu-content js-navigation-container">

											<div class="select-menu-modal">
												<div class="select-menu-header">
													<span class="select-menu-title">Assign someone to this issue</span>
													<span class="octicon octicon-remove-close js-menu-close"></span>
												</div> <!-- /.select-menu-header -->

												


												<div class="select-menu-error-shell"><span class="select-menu-error js-select-menu-error">Sorry, an error occurred</span></div>

												<div class="select-menu-filters">
													<div class="select-menu-text-filter">
														<input type="text" aria-label="Type or choose a name" placeholder="Filter people" class="js-filterable-field js-navigation-enable" id="assignee-filter-field">
													</div>
												</div> <!-- /.select-menu-filters -->

												
												<div class="select-menu-list">

													<div aria-label="Clear assignee" role="button" class="select-menu-clear-item select-menu-item js-navigation-item js-clear-assignee js-no-current-assignee">
														<input type="radio" value="" name="issue[assignee]">
														<span class="select-menu-item-icon octicon octicon-remove-close"></span>
														<div class="select-menu-item-text">Clear assignee</div>
													</div> <!-- /.select-menu-item -->

													<div role="menu" data-filterable-type="fuzzy" data-filterable-for="assignee-filter-field">
                                                        {% for assignee in assignees %}
                                                            <div role="menuitem" class="select-menu-item js-navigation-item">
                                                                <input type="radio" value="{{assignee.login}}" name="issue[assignee]">
                                                                <span class="select-menu-item-icon octicon octicon-check"></span>

                                                                <div class="select-menu-item-gravatar js-select-menu-item-gravatar">
                                                                    <span class="avatar"><img width="20" height="20" src="{{assignee.avatar_url}}" alt="{{assignee.login}}"></span>
                                                                </div>

                                                                <div class="select-menu-item-text">
                                                                    <h4>{{assignee.login}} <span class="description"></span></h4>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
													</div>

													<div class="select-menu-no-results">Nothing to show</div>

												</div> <!-- /.select-menu-list -->




											</div> <!-- /.select-menu-modal -->
										</div> <!-- /.select-menu-modal-holder -->
									</div> <!-- /.select-menu -->

								</div>

								<div class="milestone infobar-widget">
									<span class="css-truncate text js-composer-milestone-title">
										No milestone
									</span>

									<div class="select-menu js-menu-container js-select-menu js-composer-milestone-picker">
										<span aria-label="Set milestone" role="button" class="minibutton select-menu-button icon-only js-menu-target">
											<span class="octicon octicon-gear"></span>
										</span>

										<div class="select-menu-modal-holder js-menu-content js-navigation-container">

											<div class="select-menu-modal">
												<div class="select-menu-header">
													<span class="select-menu-title">Set milestone</span>
													<span class="octicon octicon-remove-close js-menu-close"></span>
												</div> <!-- /.select-menu-header -->

												

												<div class="select-menu-error-shell"><span class="select-menu-error js-select-menu-error">Sorry, an error occurred</span></div>

												<div class="select-menu-filters">
													<div class="select-menu-text-filter">
														<input type="text" autocomplete="off" placeholder="Filter milestones" class="js-filterable-field js-navigation-enable" id="context-milestone-filter-field">
													</div>
													<div class="select-menu-tabs">
														<ul>
															<li class="select-menu-tab">
																<a class="js-select-menu-tab" data-tab-filter="tab-open" href="#">Open</a>
															</li>
															<li class="select-menu-tab">
																<a class="js-select-menu-tab" data-tab-filter="tab-closed" href="#">Closed</a>
															</li>
														</ul>
													</div><!-- /.select-menu-tabs -->
												</div><!-- /.select-menu-filters -->

												<div data-tab-filter="tab-open" class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket">

													<div class="select-menu-clear-item select-menu-item js-navigation-item js-clear-milestone">
														<input type="radio" value="clear" name="milestone" id="milestone_clear">
														<span class="select-menu-item-icon octicon octicon-remove-close"></span>
														<div class="select-menu-item-text">Clear this milestone</div>
													</div> <!-- /.select-menu-item -->

													<div role="menu" data-filterable-type="substring" data-filterable-for="context-milestone-filter-field">

														<div role="menuitem" class="select-menu-item js-navigation-item">
															<input type="radio" value="{{milestone.number}}" name="milestone" id="milestone_{{milestone.number}}">
															<span class="select-menu-item-icon octicon octicon-check"></span>
															<div class="select-menu-item-text">
																<h4 class="js-milestone-title js-select-button-text">{{milestone.title}}</h4>
																{% if milestone.duo_on %}
																<span class="description">Due in {{milestone.due_on}} days</span>{% endif %}
															</div>
														</div> <!-- /.select-menu-item -->
													</div>

													<div class="select-menu-item select-menu-new-item-form js-navigation-item js-new-item-form">
														<input type="radio" value="new" name="milestone">
														<input type="hidden" name="milestone_title" class="js-new-item-value">

														<span class="octicon octicon-milestone select-menu-item-icon"></span>
														<div class="select-menu-item-text">
															<h4>Create and assign to new milestone:</h4>
															<span class="description js-new-item-name js-milestone-title"></span>
														</div>
													</div>

												</div> <!-- /.select-menu-list -->

												<div data-tab-filter="tab-closed" class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket">

													<div role="menu" data-filterable-type="substring" data-filterable-for="context-milestone-filter-field">

													</div>

													<div class="select-menu-no-results">Nothing to show</div>
												</div> <!-- /.select-menu-list -->


												<div class="fieldWithErrors"><input type="hidden" name="issue[milestone_id]" id="issue_milestone_id"></div>
												<input type="hidden" name="new_milestone_title" id="new_milestone_title">
											</div> <!-- /.select-menu-modal -->
										</div> <!-- /.select-menu-modal-holder -->
									</div> <!-- /.select-menu -->

								</div>
							</div>


							<div class="comment-content">

								<dl class="form body">
									<dd>

										

										<div data-preview-url="#" class="js-previewable-comment-form previewable-comment-form write-selected">
											<div class="comment-form-head tabnav">
												<ul class="tabnav-tabs">
													<li><a class="tabnav-tab write-tab js-write-tab selected" href="#write_bucket_">Write</a></li>
													<li><a id='jk-preview' class="tabnav-tab preview-tab js-preview-tab" href="#preview_bucket_">Preview</a></li>
												</ul>
												<span class="tabnav-right">
													<span class="tabnav-widget text">Comments are parsed with <a target="_blank" class="gfm-help" href="https://help.github.com/articles/github-flavored-markdown">GitHub Flavored Markdown</a></span>
												</span>
											</div>

											<div style="display:none" class="comment-form-error js-comment-form-error">    There was an error creating your Issue: 
											</div>
											<div data-model="assets" class="write-content js-write-bucket js-uploadable-container upload-enabled is-default" id="write_bucket_">
												
												<a class="enable-fullscreen js-enable-fullscreen tooltipped
																	leftwards " href="#fullscreen_issue_body" original-title="Zen Mode">
													<span class="octicon octicon-screen-full"></span>
												</a>

												<textarea data-suggester="_new_preview_suggester" class="comment-form-textarea js-comment-field js-size-to-fit js-quote-selection-target  input-with-fullscreen-icon" placeholder="Leave a comment" id="issue_body" tabindex="1" name="issue[body]">{{body}}</textarea>

												
												<p class="drag-and-drop">
													<span class="default">
														Attach images by dragging &amp; dropping or
														<input type="file" class="manual-file-chooser js-manual-file-chooser" multiple="multiple">
														<a href="#" class="manual-file-chooser-text">selecting them</a>.
													</span>
													<span class="loading">
														<img width="16" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" alt="Octocat-spinner-32"> Uploading your images…
													</span>
													<span class="error bad-file">
														Unfortunately we don't support that file type yet. Please use PNG, GIF, or JPG.
													</span>
													<span class="error too-big">
														Yowza, that's a big file. Please submit an image file smaller than 5MB.
													</span>
													<span class="error bad-browser">
														This browser doesn't support image attachments.
													</span>
													<span class="error failed-request">
														Something went really wrong and we can't process that image.
													</span>
												</p>

											</div>
											<div class="preview-content js-preview-bucket" id="preview_bucket_">
												

												<div data-body-version="" class="comment js-comment js-task-list-container" id="openstruct-70192145241500">

													<div class="comment-content">

														<div class="edit-comment-hide">
															<div class="comment-body markdown-body  js-comment-body">
																<p>Nothing to preview</p>
															</div>
														</div>

													</div>
												</div>


											</div>


											<div class="suggester-container">
												<div data-url="/jcouyang/gira/suggestions/issue" id="_new_preview_suggester" class="suggester js-navigation-container">
												</div>
											</div>
										</div>

									</dd>
								</dl>

							</div> <!-- /.comment-content -->
						</div> <!-- /.comment -->


					</div> <!-- /.discussion-bubble-content -->
				</div> <!-- /.discussion-bubble-inner -->

				<div class="form-actions">

					<button data-disable-with="" data-disable-invalid="" tabindex="1" class="button primary" type="submit">
						Submit new issue
					</button>
				</div>

			</div> <!-- /.discussion-bubble -->

    </div>
    <div class="column sidebar">
      
			<h3>Add Labels</h3>
			<ul class="js-composer-labels color-label-list filter-list small">
				
				<li data-name="0+Backlog">
					<a class="filter-item color-label labelstyle-CCCCCC" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_0+Backlog" value="0+Backlog" style="display: none">
						<span style="background-color: #CCCCCC" class="color">&nbsp;</span>
						<span class="name">0+Backlog</span>
					</a>
				</li>

				<li data-name="0-Backlog">
					<a class="filter-item color-label labelstyle-ededed" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_0-Backlog" value="0-Backlog" style="display: none">
						<span style="background-color: #ededed" class="color">&nbsp;</span>
						<span class="name">0-Backlog</span>
					</a>
				</li>

				<li data-name="1-Ready">
					<a class="filter-item color-label labelstyle-CCCCCC" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_1-Ready" value="1-Ready" style="display: none">
						<span style="background-color: #CCCCCC" class="color">&nbsp;</span>
						<span class="name">1-Ready</span>
					</a>
				</li>

				<li data-name="2-Working">
					<a class="filter-item color-label labelstyle-CCCCCC" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_2-Working" value="2-Working" style="display: none">
						<span style="background-color: #CCCCCC" class="color">&nbsp;</span>
						<span class="name">2-Working</span>
					</a>
				</li>

				<li data-name="3-done">
					<a class="filter-item color-label labelstyle-CCCCCC" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_3-done" value="3-done" style="display: none">
						<span style="background-color: #CCCCCC" class="color">&nbsp;</span>
						<span class="name">3-done</span>
					</a>
				</li>

				<li data-name="bug">
					<a class="filter-item color-label labelstyle-fc2929" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_bug" value="bug" style="display: none">
						<span style="background-color: #fc2929" class="color">&nbsp;</span>
						<span class="name">bug</span>
					</a>
				</li>

				<li data-name="duplicate">
					<a class="filter-item color-label labelstyle-cccccc" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_duplicate" value="duplicate" style="display: none">
						<span style="background-color: #cccccc" class="color">&nbsp;</span>
						<span class="name">duplicate</span>
					</a>
				</li>

				<li data-name="enhancement">
					<a class="filter-item color-label labelstyle-84b6eb" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_enhancement" value="enhancement" style="display: none">
						<span style="background-color: #84b6eb" class="color">&nbsp;</span>
						<span class="name">enhancement</span>
					</a>
				</li>

				<li data-name="invalid">
					<a class="filter-item color-label labelstyle-e6e6e6" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_invalid" value="invalid" style="display: none">
						<span style="background-color: #e6e6e6" class="color">&nbsp;</span>
						<span class="name">invalid</span>
					</a>
				</li>

				<li data-name="question">
					<a class="filter-item color-label labelstyle-cc317c" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_question" value="question" style="display: none">
						<span style="background-color: #cc317c" class="color">&nbsp;</span>
						<span class="name">question</span>
					</a>
				</li>

				<li data-name="wontfix">
					<a class="filter-item color-label labelstyle-ffffff" href="#">
						
						<input type="checkbox" name="issue[labels][]" id="issue_labels_wontfix" value="wontfix" style="display: none">
						<span style="background-color: #ffffff" class="color">&nbsp;</span>
						<span class="name">wontfix</span>
					</a>
				</li>

			</ul>

    </div>
  </div>
</form>
