<div class="edit-color-label-form new-label-form js-new-label-form js-label-editor open">
    <h4 class="new-label-form-title">New label</h4>

    <form method="post" id="new_label_form" accept-charset="UTF-8">
        <div style="margin:0;padding:0;display:inline">
        </div>

        <input type="text" data-hotkey="l" placeholder="New label name" class="name-input js-name-input" name="label">


        <ul class="color-chooser js-color-chooser">
            <li>
      <span data-hex-color="e11d21" style="background-color: #e11d21 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-e11d21">
      </span>
            </li>
            <li>
      <span data-hex-color="eb6420" style="background-color: #eb6420 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-eb6420">
      </span>
            </li>
            <li>
      <span data-hex-color="fbca04" style="background-color: #fbca04 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-fbca04">
      </span>
            </li>
            <li>
      <span data-hex-color="009800" style="background-color: #009800 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-009800">
      </span>
            </li>
            <li>
      <span data-hex-color="006b75" style="background-color: #006b75 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-006b75">
      </span>
            </li>
            <li>
      <span data-hex-color="207de5" style="background-color: #207de5 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-207de5">
      </span>
            </li>
            <li>
      <span data-hex-color="0052cc" style="background-color: #0052cc !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-0052cc">
      </span>
            </li>
            <li>
      <span data-hex-color="5319e7" style="background-color: #5319e7 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-5319e7">
      </span>
            </li>
        </ul>


        <ul class="color-chooser js-color-chooser">
            <li>
      <span data-hex-color="f7c6c7" style="background-color: #f7c6c7 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-f7c6c7">
      </span>
            </li>
            <li>
      <span data-hex-color="fad8c7" style="background-color: #fad8c7 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-fad8c7 selected" data-last="true">
      </span>
            </li>
            <li>
      <span data-hex-color="fef2c0" style="background-color: #fef2c0 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-fef2c0">
      </span>
            </li>
            <li>
      <span data-hex-color="bfe5bf" style="background-color: #bfe5bf !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-bfe5bf">
      </span>
            </li>
            <li>
      <span data-hex-color="bfdadc" style="background-color: #bfdadc !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-bfdadc">
      </span>
            </li>
            <li>
      <span data-hex-color="c7def8" style="background-color: #c7def8 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-c7def8">
      </span>
            </li>
            <li>
      <span data-hex-color="bfd4f2" style="background-color: #bfd4f2 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-bfd4f2">
      </span>
            </li>
            <li>
      <span data-hex-color="d4c5f9" style="background-color: #d4c5f9 !important;"
            class="color-cooser-color js-color-cooser-color labelstyle-d4c5f9">
      </span>
            </li>
        </ul>


        <div class="color-editor js-color-editor">
            <div class="color-editor-bg js-color-editor-bg" style="background-color: rgb(250, 216, 199);"></div>

            <input type="text" name="color" placeholder="#FF0000" maxlength="7" value="#FF0000"
                   class="color-editor-input js-color-editor-input hexfield"
                   style="color: rgb(125, 108, 100); border-color: rgb(250, 216, 199);">

            <button class="js-label-editor-submit minibutton" type="submit">Create</button>
            <span class="invalid-color-indicator">?</span>
        </div>
    </form>
</div>
