
<div class="contrib-details grid lala">
    {% for issues in issuesWithLabel %}
    <div class="col" id="{{issues[0]}}">
    <span class="num">{{issues[0]|removeIndex|title}}
      <a class='remove-lane' type="button" data='{{issues[0]}}' href="#">
          <span class="octicon octicon-remove-close"></span>
      </a>
    </span>
		<span class="lbl">
			{% for issue in issues[1] %}
			<div class="blankslate" draggable="true" id="{{issue.number}}" data-label="{{issues[0]}}">
                <a href="{{issue.html_url}}" target="_blank" class="octicon octicon-link-external right"></a>
                <a href="#create-new-issue" rel="facebox" class="popable" data-issue-id="{{issue.number}}">
                    {%if issue.assignee %}
					<span style="margin-right: 5px;" class="assignee tooltipped downwards yours right"
                          href="{{issue.assignee.url}}"
                          original-title="Assigned to {{issue.assignee.login}}">
                        <img width="16" height="16" src="{{issue.assignee.avatar_url}}" alt="{{issue.assignee.login}}">
					</span>
                    {% endif %}
                    <h4 class="list-group-item-name">#{{issue.number}} {{issue.title}}</h4>
                </a>
                {% if issues[0] == last_label %}
                <a type="button" class="close close-issue left" data-issue="{{issue.number}}" href="#">
                    <span class="octicon octicon-remove-close"></span>
                </a>
                {% endif %}
					<span class="labels">
						{% for label in issue.labels %}
						<span class="label labelstyle-{{label.color}}" style="background-color:#{{label.color}}"
                              data-name="{{label.name}}">{{label.name|removeIndex}}</span>
						{% endfor %}
					</span>


            </div>
			{% endfor %}
		</span>
    </div>
    {% endfor %}
</div>

