<div class="container clearfix">
    <a href="/" class="header-logo-invertocat tooltipped downwards" original-title="Github Issues Really Awesome">
        <span class="mega-octicon octicon-octoface"></span>
        <span class="mega-octicon octicon-issue-reopened"></span>
        <img width="40" height="40" align="absmiddle"
             src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/metal.png" alt=":metal:"
             title=":metal:" class="emoji">
    </a>

    <ul id="user-links">
        {% if login %}
        <li>
            <a class="name" href="#">
                <img width="20" height="20" src="{{avatar_url}}" alt="{{name}}"> {{name}}
            </a>
        </li>
        <li>
            <a aria-label="Sign out" id="logout" data-method="post" href="#" class="tooltipped downwards"
               original-title="Sign out">
                <span class="octicon octicon-log-out"></span>
            </a>
        </li>
        {% else %}
        <div class="header-actions">
            <a href="https://github.com/login/oauth/authorize?client_id=666dc0b3b994cc362ca2&scope=public_repo,user"
               class="button primary" id="signin">Sign in</a>
        </div>
        {% endif %}
    </ul>
</div>
