<div class="select-menu is-showing-clear-item js-menu-container js-select-menu">

  <span class="minibutton select-menu-button icon-only js-menu-target">
    <span class="octicon octicon-gear"></span>
  </span>

    <div class="select-menu-modal-holder js-menu-content js-milestone-issue-filter js-navigation-container js-select-menu-pane"
         data-pjax="" aria-hidden="true" style="right:0;">
        <div class="select-menu-modal">
            <div class="select-menu-header">
                <span class="select-menu-title">Filter issues by milestone</span>
                <span class="octicon octicon-remove-close js-menu-close"></span>
            </div>
            <!-- /.select-menu-header -->

            <div class="select-menu-filters">
                <div class="select-menu-text-filter">
                    <input type="text" id="issues-list-sidebar-milestones-filter"
                           class="js-filterable-field js-navigation-enable" placeholder="Filter milestones">
                </div>
            </div>
            <!-- /.select-menu-filters -->

            <div class="select-menu-list" data-filterable-for="issues-list-sidebar-milestones-filter"
                 data-filterable-type="substring">

                <a class="select-menu-item select-menu-clear-item js-navigation-open js-navigation-item" href="#"
                   data-milestone="">
                    <span class="select-menu-item-icon octicon octicon-remove-close"></span>
                    <span class="select-menu-item-text" data-milestone="">Clear milestone filter</span>
                </a> <!-- /.select-menu-item -->

                <!-- <a class="select-menu-item js-navigation-open js-navigation-item" href="/jcouyang/gira/issues?milestone=none&amp;page=1&amp;state=open" data-milestone=""> -->
                <!--   <span class="select-menu-item-icon octicon octicon-check"></span> -->
                <!--   <span class="select-menu-item-text js-select-button-text" data-milestone="">Issues with no milestone</span> -->
                <!-- </a> <\!-- /.select-menu-item -\-> -->
                {% for milestone in data.milestones %}
                <a class="select-menu-item js-navigation-item js-navigation-open {{" data.selected" if
                milestone.number==data.selected.number}} last-visible" href="#" data-milestone={{milestone.number}}>
                <span class="select-menu-item-icon octicon octicon-check"></span>
          <span class="select-menu-item-text " data-milestone="2">
            <h4>{{milestone.title}}</h4>
						{% if milestone.due_on %}
            <span class="description">Due in {{milestone.due_on | dayFromNow}} days</span>
						{% endif %}
          </span>
                </a> <!-- /.select-menu-item -->
                {% endfor %}
                <div class="select-menu-no-results js-not-filterable">Nothing to show</div>
            </div>
            <!-- /.select-menu-list -->
        </div>
        <!-- /.select-menu-modal -->
    </div>
    <!-- /.select-menu-modal-holder -->
</div> <!-- /.select-menu -->

{% if data.selected %}
<div class="info">
    <div class="info-main">
        Milestone: <span class="css-truncate css-truncate-target"><span class="title">{{data.selected.title}}</span>
  </span></div>
    <span class="progress-bar" style="padding-top: 0px; margin-top: 0px;"><span class="progress"
                                                                                style="width: {{100/(1+data.selected.open_issues/data.selected.closed_issues)}}%">&nbsp;</span></span>

    <div class="info-secondary right">
        <span class="open">{{data.selected.open_issues}} open issues</span>
        {% if data.selected.due_on %}
        <span class="due"> · Due in {{data.selected.due_on | dayFromNow}} days</span>
        {% endif %}
    </div>
</div>
{% else %}
<strong class="sidebar-milestone-widget-text">No milestone selected</strong>
{% endif %}
