<span class="repo-label">
	<a href="https://github.com/{{checked}}/{{checkedRepo}}" target="_blank">public <span
            class="octicon octicon-link-external"></a></span>
</span>
<span class="mega-octicon octicon-repo"></span> <span class="author">
	{% if username %}
	<a rel="author" itemprop="url" class="url fn" href="/{{username}}"><span itemprop="title">{{username}}</span></a>
	<span class="repohead-name-divider">/</span>
	<strong><a class="js-current-repository js-repo-home-link" href="/{{username}}/{{repo}}">{{repo}}</a></strong>
	{% else %}
	<div class="repo-selector js-repo-selector ">

        <div class="repo-entry-form">
            <div class="entry-content">

                <div class="select-menu owner-select-menu js-menu-container js-select-menu js-owner-container js-owner-select">
					<span class="minibutton select-menu-button js-menu-target">
						<span class="js-select-button">
              {{checked}}
            </span>
					</span>

                    <div aria-hidden="true" class="select-menu-modal-holder js-menu-content js-navigation-container">
                        <div class="select-menu-modal">
                            <div class="select-menu-header">
                                <span class="select-menu-title">Choose another owner</span>
                                <span class="octicon octicon-remove-close js-menu-close"></span>
                            </div>
                            <!-- /.select-menu-header -->
                            <div class="select-menu-list">
                                {% for owner in owners %}
                                <div class="select-menu-item js-navigation-item {{" selected
                                " if owner.login == checked}}">
                                <input type="radio" checked="{{owner.login==checked}}" id="{{owner.login}}"
                                       name="{{owner.login}}" value="hubot">
                                <span class="select-menu-item-icon octicon octicon-check"></span>

                                <div class="select-menu-item-gravatar js-select-menu-item-gravatar">
                                    <img width="20" height="20" alt="hubot" src="{{owner.avatar_url}}">
                                </div>
                                <div class="select-menu-item-text js-select-button-text">
                                    {{owner.login}}
                                </div>
                            </div>
                            <!-- /.select-menu-item -->
                            {% endfor %}
                        </div>
                        <!-- /.select-menu-list -->
                    </div>
                    <!-- /.select-menu-modal -->
                </div>
                <!-- /.select-menu-modal-holder -->
            </div>
            <!-- /.select-menu -->

            <div class="nwo-slash">/</div>

            <div class="target-repo-menu select-menu js-menu-container js-select-menu js-target-repo-menu owner-is-active"
                 data-owner="hubot">
					<span class="minibutton select-menu-button js-menu-target">
						<span class="js-select-button">{{checkedRepo}}</span>
					</span>

                <div aria-hidden="true" class="select-menu-modal-holder js-menu-content js-navigation-container">
                    <div class="select-menu-modal">
                        <div class="select-menu-header">
                            <span class="select-menu-title">Choose repository</span>
                            <span class="octicon octicon-remove-close js-menu-close"></span>
                        </div>
                        <!-- /.select-menu-header -->
                        <div class="select-menu-list">
                            {% for repo in repos %}
                            <div class="select-menu-item js-navigation-item {{" selected
                            " if repo.name==checkedRepo}}">
                            <input type="radio" id="{{repo.id}}" name="{{repo.name}}" value="{{repo.full_name}}"
                                   checked="{{repo.name==checkedRepo}}"/>
                            <span class="select-menu-item-icon octicon octicon-check"></span>

                            <div class="select-menu-item-text js-select-button-text">{{repo.name}}</div>
                        </div>
                        <!-- /.select-menu-item -->
                        {% endfor %}
                    </div>
                    <!-- /.select-menu-list -->
                </div>
                <!-- /.select-menu-modal -->
            </div>
            <!-- /.select-menu-modal-holder -->
        </div>
        <!-- /.select-menu -->
    </div>
    </div>
    </div>
    {% endif %}


