.list-group-item-name {
    font-size: 15px;
    line-height: 1.3;
    margin: 0 60px 2px 0;
    word-wrap: break-word;
}
.marketing-section-enterprise {
		max-height:460px;
}
#contributions-calendar .contrib-details span.lbl div.blankslate {
    background-color:white;
    border-left: 1px solid #DDD;
    margin:5px;
    margin-bottom: 12px;
    padding: 5px;
}

#contributions-calendar .contrib-details span.lbl div.blankslate .octicon-remove-close {
    position: absolute;
    bottom: 5px;
}
.list-group-item-name {
    color: #4183C4;
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    word-wrap: break-word;
}
.avatar.tooltipped.downwards {
    float: right;
}

#main_content .pagehead.repohead {
		margin-bottom: 0;
		border-bottom: 0;
}

.header .container a img.emoji {
		margin-top: -18px;
}

#main_content span.author dev.repo-selector  {
		margin-top:-5px;
}

.sidebar-milestone-widget {
		margin:5px;
		width:200px;
}

.facebox-content {
    padding-top: 40px;
		width:800px;
}

.facebox-content .column.main {
		width:480px;
}
.facebox-content .column.sidebar {
		width:150px;
}
ul.color-label-list {
		margin-left:5px;
}

.close.close-issue {
		top:0;
		left:0;
		padding-left:5px;
		padding-top:5px;
}

.hide-buttons .close, .hide-buttons .link-external{
		display:none;
}
.hide-buttons:hover .close, .hide-buttons:hover .link-external{
		display:inline-block;
}

.discussion-timeline {
    position: relative;
    width: 600px;
}

.repo-selector {
		margin-top:-4px;
}

#new-issue, #new-label {
		margin-left:5px;
}

.site-footer .mega-octicon {
    color: #CCCCCC;
    font-size: 24px;
    height: 24px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    top: 38px;
    width: 24px;
}
