<div class="box box-small">
  <div class="box-header">
    <h3 class="box-title">GIRA</h3>
  </div>
  <div class="box-body">
    <div id="contributions-calendar">
      <div class="contrib-details grid">
                                {{#each milestones}}
        <div class="col">
          <span class="num" id="{{id}}">{{description}}</span>{{open_issues}}
                                </div>
                                {{/each}}
      </div>
    </div>
  </div>
</div>
