<style media="screen" type="text/css">
#contributions-calendar .contrib-details span.lbl div.blankslate {
    border-left: 1px solid #DDD;
margin:5px;
}
</style>
<div class="box box-small">
  <div class="box-header">
    <h3 class="box-title">GIRA</h3>
  </div>
  <div class="box-body">
    <div id="contributions-calendar">
      <div class="contrib-details grid">
				{% for milestone in milestones %}
        <div class="col" id="{{milestone.id}}">
          <span class="num"
								id="{{milestone.id}}">{{milestone.title}}</span>{{milestone.description}}
					<span class="lbl">
					{% for issue in milestone.issues %}
						<a href="{{issue.html_url}}" id="issue-{{issue.number}}">
							<div class="blankslate">
								<h4 class="list-group-item-name">{{issue.title}}</h4>
								<p>{{issue.body}}</p>
								{% if issue.assignee %}
								<span href="/{{issue.assignee.login}}" class="avatar	tooltipped downwards" original-title="{{issue.assignee.login}}"><img width="24"	height="24" src="{{issue.assignee.avatar_url}}"></span>
								{% endif %}
								<span class="labels">
									{% for label in issue.labels %}
									<span class="label labelstyle-{{label.color}}"
												data-name="{{label.name}}">{{label.name}}</span>
									{% endfor %}
								</span>
							</div>
						</a>
					{% endfor %}
					</span>
        </div>
				{% endfor %}
      </div>
    </div>
  </div>
</div>
