<!DOCTYPE html>
<html ng-app>
<head>
  <title>GIRA!</title>
	<link media="screen" type="text/css" href="../stylesheets/github.css" rel="stylesheet"></link>

	<link media="screen" type="text/css" href="../stylesheets/github2.css" rel="stylesheet"></link>

	<link media="screen" type="text/css" href="../stylesheets/gira.css" rel="stylesheet"></link>
	<script type="text/javascript" src="../javascripts/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../javascripts/frameworks.js"></script>
		<script type="text/javascript" src="../javascripts/github.js"></script>
</head>
<body ng-cloak>
    <div class="wrapper">
			<div class="header header-logged-in true" id="header"><div class="container clearfix">
    <a href="/" class="header-logo-invertocat tooltipped downwards" original-title="Github Issues Really Awesome">
        <span class="mega-octicon octicon-octoface"></span>
        <span class="mega-octicon octicon-issue-reopened"></span>
        <img src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/metal.png" alt=":metal:" title=":metal:" class="emoji" align="absmiddle" height="40" width="40">
    </a>

    <ul id="user-links" user-data>

        <li>
            <a class="name" href="#">
                <img src="{{userctrl.user.avatar_url}}" alt="Jichao Ouyang" height="20" width="20"> {{userctrl.user.login}}
            </a>
        </li>
        <li>
            <a aria-label="Sign out" ng-click="userctrl.logOut()" class="tooltipped downwards" original-title="Sign out">
                <span class="octicon octicon-log-out"></span>
            </a>
        </li>

    </ul>
</div>
</div>
			<div class="site clearfix">

				<div class="loggedin">
				<div id="main_content" class="container">
					<div class="notification">
					</div>

					<div class="container">

						<div class="pagehead repohead">
							<h1 repo-selector>
								<span class="repo-label">
									<a href="" target="_blank">public <span class="octicon octicon-link-external"></span></a></span>
								<span class="mega-octicon octicon-repo"></span> <span class="author">
									<div class="repo-selector js-repo-selector ">
										<input type="hidden" ng-model="repoctrl.currentOwner">
										<div class="repo-entry-form">
											<div class="entry-content">
												<div class="select-menu owner-select-menu js-menu-container js-select-menu js-owner-container js-owner-select">
													<span class="minibutton select-menu-button js-menu-target">
														<span class="js-select-button">
															{{repoctrl.currentOwner}}
														</span>
													</span>

													<div aria-hidden="true" class="select-menu-modal-holder js-menu-content js-navigation-container">
														<div class="select-menu-modal">
															<div class="select-menu-header">
																<span class="select-menu-title">Choose another owner</span>
																<span class="octicon octicon-remove-close js-menu-close"></span>
															</div>
															<!-- /.select-menu-header -->
															<div class="select-menu-list">

																<div ng-repeat="owner in repoctrl.repo.owners" class="select-menu-item js-navigation-item" ng-click="repoctrl.changeOwner($event)">
																	<input value="{{owner.login}}" type="radio" data-repos-url="{{owner.repos_url}}">
																	<span class="select-menu-item-icon octicon octicon-check"></span>

																	<div class="select-menu-item-gravatar js-select-menu-item-gravatar">
																		<img alt="{{owner.login}}" src="{{owner.avatar_url}}" height="20" width="20">
																	</div>
																	<div class="select-menu-item-text js-select-button-text">
																		{{owner.login}}
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="nwo-slash">/</div>

												<div class="select-menu js-menu-container js-select-menu js-target-repo-menu owner-is-active" data-owner="hubot">
													<span class="minibutton select-menu-button js-menu-target">
														<span class="js-select-button">{{repoctrl.currentRepo}}</span>
													</span>

													<div aria-hidden="true" class="select-menu-modal-holder js-menu-content js-navigation-container">
														<div class="select-menu-modal">
															<div class="select-menu-header">
																<span class="select-menu-title">Choose repository</span>
																<span class="octicon octicon-remove-close js-menu-close"></span>
															</div>
															<div class="select-menu-list">

																<div class="select-menu-item js-navigation-item" ng-repeat="repo in repoctrl.repo.repos">
																	<input id="{{repo.id}}" name="{{repo.name}}" value="{{repo.full_name}}" checked="false" type="radio">
																	<span class="select-menu-item-icon octicon octicon-check"></span>

																	<div class="select-menu-item-text js-select-button-text">{{repo.name}}</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</span>
							</h1>

							<a id="new-issue" href="#create/new/issue" rel="facebox" class="right button primary popable">New Issue</a>
							<a id="new-label" href="#create-new-label" rel="facebox" onclick="new LabelView()" class="right button popable">New Lane</a>
							<!-- <a id="show-diagram" href="#show-diagram" rel="facebox" class="right button popable">Show Diagram</a> -->
							<div class="sidebar-milestone-widget right" milestone-selector>
								<div class="select-menu is-showing-clear-item js-menu-container js-select-menu">

									<span class="minibutton select-menu-button icon-only js-menu-target">
										<span class="octicon octicon-gear"></span>
									</span>

									<div class="select-menu-modal-holder js-menu-content js-milestone-issue-filter js-navigation-container js-select-menu-pane js-active-navigation-container" data-pjax="" aria-hidden="false" style="right:0;">
										<div class="select-menu-modal">
											<div class="select-menu-header">
												<span class="select-menu-title">Filter issues by milestone</span>
												<span class="octicon octicon-remove-close js-menu-close"></span>
											</div>
											<!-- /.select-menu-header -->

											<div class="select-menu-filters">
												<div class="select-menu-text-filter">
													<input type="text" id="issues-list-sidebar-milestones-filter" class="js-filterable-field js-navigation-enable" placeholder="Filter milestones">
												</div>
											</div>
											<!-- /.select-menu-filters -->

											<div class="select-menu-list" data-filterable-for="issues-list-sidebar-milestones-filter" data-filterable-type="substring">

												<a ng-click="milestonectrl.clearMilestone()" class="select-menu-item select-menu-clear-item js-navigation-open js-navigation-item" href="#" data-milestone="">
													<span class="select-menu-item-icon octicon octicon-remove-close"></span>
													<span class="select-menu-item-text" data-milestone="">Clear milestone filter</span>
												</a> <!-- /.select-menu-item -->

												<!-- <a class="select-menu-item js-navigation-open js-navigation-item" href="/jcouyang/gira/issues?milestone=none&amp;page=1&amp;state=open" data-milestone=""> -->
												<!--   <span class="select-menu-item-icon octicon octicon-check"></span> -->
												<!--   <span class="select-menu-item-text js-select-button-text" data-milestone="">Issues with no milestone</span> -->
												<!-- </a> <\!-- /.select-menu-item -\-> -->

												<a ng-repeat="milestone in milestonectrl.milestones" class="select-menu-item js-navigation-item js-navigation-open" href="#" data-milestone="2" ng-click="milestonectrl.changeMilestone($event)">
													<span class="select-menu-item-icon octicon octicon-check"></span>
													<span class="select-menu-item-text " data-milestone="2">
														<h4>{{milestone.title}}</h4>

														<span class="description">{{milestone.due_on}}</span>

													</span>
												</a> <!-- /.select-menu-item -->

												<div class="select-menu-no-results js-not-filterable">Nothing to show</div>
											</div>
											<!-- /.select-menu-list -->
										</div>
										<!-- /.select-menu-modal -->
									</div>
									<!-- /.select-menu-modal-holder -->
								</div> <!-- /.select-menu -->
								<strong class="sidebar-milestone-widget-text">{{milestonectrl.currentMilestone}}</strong>

							</div>
						</div>

                        <ng-view></ng-view>
					</div>

					<div class="site-footer">
						<ul class="site-footer-links right">
							<li><a href="https://github.com/jcouyang/gira/blob/LICENSE">License</a></li>
							<li><a href="http://oyanglul.us/blog/categories/gira">Blog</a></li>
							<li><a href="https://github.com/jcouyang/gira">About</a></li>
						</ul>
						<a href="/">
							<span class="mega-octicon octicon-issue-reopened"></span>
						</a>
						<ul class="site-footer-links">
							<li>© 2014 <span title="0.07061s from github-fe129-cp1-prd.iad.github.net">GIRA</span></li>
						</ul>
					</div><!-- /.site-footer -->
				</div>
				</div>
				<div id="create-new-issue" style="display:none;">
					<img style="margin-left:241px;" src="/images/spinners/octocat-spinner-128.gif">
				</div>

</div></div>    
<script src="packages/shadow_dom/shadow_dom.min.js"></script>
  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
